
/* Default Styles */
body, .body{
	color: #444444;
	background-color: #f3d8e1;
	}
table,td {
	color: #444444;
	}
table img{vertical-align:bottom;}
h1, h2, h3{

	color: #000000;


	}

h4, h5, h5.listViewSubHeadS1, a.yearCalBodyMonthLink:link, a.yearCalBodyMonthLink:visited {
	color: #444;
	}

.h3Row {
	color: #444;
	background-image: url(images/bgPurple.gif);
}



.monthHeader {
color: #444;
background-color: #fff;
border-color: #c2b0d2;
background-image: url(images/bgPurple.gif);

	}



a:link, a:visited, a.body:link, a.body:visited {
		color: #6b0387;
		}
a:hover, a.body:hover {
		color: #000000;
		}

/* Form Styles */

.button {

	border-color: #c2b0d2;
	background-color: #f0ecf4;
	color: #000;
	background-image: url(images/bgBtnPurple.gif);
	vertical-align: middle;
	}
.select1 {/*border:1px  solid #c2b0d2;*/ display:inline-block; }
	.select1 select {/*margin:-2px;*/}	
.buttonOn, .button:hover, .button:focus, .buttonOn:focus {
	background-color: #906fae;
	border-color: #906fae;
	}

.button[disabled] {
	border-color: #c1c1c1;
	background-color: #f0f0f0;
	color: #000;
	background-image: url(images/bgBtnGray.gif);
	}
input,select {
	padding-left:3px;
	border-color: #bfacd0;
	/*background-color: #ffffff;*/
	}
.chosen-container-multi .chosen-choices {
    border: 1px solid #bfacd0;
}
.attachBorder {	
	border: 1px solid;
	border-color: #bfacd0;;
}
input:focus,textarea:focus, select:focus {
	background-color: #fff;
	border-color: #c2b0d2;
	 }
textarea {
	padding-left:3px;
	border-color: #c2b0d2;
	background-color: #fff;
	}
	.textarea1 {
	padding-left:3px;
	border-color: #c2b0d2;
	background-color: #fff;
	}
.checkbox,.radio {
	}


/* Content Specific Styles */
	/* body text */

	.teamNoticeBox {
		border-color: #c2b0d2;
		color: #444444;
	}


	/*for the main screen navigation tabs*/


	.tabRow {
		/*background-image : url(images/tabRowPurpleBg.gif);*/

		border-bottom-color: #6b0387;
	}
	.tabRow11{
		background-image : url(images/bar_backgruond.gif);
		
	}
	.currentTabLeft, .currentTabRight, .currentTab {

	background-image : url(images/currentTabPurple.gif);
		background-repeat: no-repeat;
		border-bottom-color: #906fae;

	}

	a.currentTabLink:link, a.currentTabLink:visited, a.currentTabLink:hover {

		color: #ffffff;
		}
.otherTab1{background-color: #ba8a9a;height:31px;}
	.otherTabLeft, .otherTabRight, .otherTab {
		
		/*background-color:#f8aec0;/*����������*/
		background-repeat: no-repeat;
		
		}
	a.otherTabLink:link, a.otherTabLink:visited {
		color: #444444;
		
		}
	a.otherTabLink:hover {
		color: #000000;
		
		}
	.aOtherTabHover {
		color: #000;
		border-color:#ba8a9a;
		background-color: #d7aebc;
	}

	.subpanelTabSpace  * {
		display: none;
		}

	a.currentSubpanelTabLink:link, a.currentSubpanelTabLink:visited {
		color: #000000;
		}
	a.currentSubpanelTabLink:hover {
		color: #000000;
		}

	a.otherSubpanelTabLink:link, a.otherSubpanelTabLink:visited {
		color: #444444;

		}
	a.otherSubpanelTabLink:hover {
		color: #000000;
		}

	.moreHandle {
		background: url('images/more.gif') no-repeat bottom left;
		}
	.subMenu {
		border-color: #c2b0d2;
	}
	.subMenu, ul.subMenu li, .leftColumnModuleS3 {
		color: #444444;
		/*background-color:#f5e8fa;*/
		border-color: #ba8a9a;
	}

	ul.subMenu li a:hover, ul.subMenu li span:hover  {
		color: #000000;
		}

	.leftColumn {
		border-color: #dddddd;
		}

	table.leftColumnModuleHead th, table.listView th, .schedulerTopRow {
	/*left column styles*/
		color: #666666;
		background-color:#f3d8e1;
		border-color: #ba8a9a;
		border-bottom:2px #ba8a9a solid;

	}



	/* myArea is for my account, admin, logout, an about links*/


	/*welcome user and date bar and last view*/
	.moduleTitle {
	border-color: #c2b0d2;
	}
	.headerBg {
		border-color: #999;
		color: #000000; 
		background-image: url(images/bgNavyHeader.gif);
		background-position: top right;
	}
	.welcome {
		color: #444444;
		/*background-color: #ffffff;*//*���ϱ���ɫ*/
		border-right-color:
;
	}
		a.myAreaLink:link, a.myAreaLink:visited {
		color: #444;
	}
	a.myAreaLink:hover {
		color: #6b0387;
	}
	#subtabs {
	background-color:#906fae;


	}
ul.subTabs
{

}

ul.subTabs li
{
}


ul.subTabs li a
{

	border-right-color:#c2b0d2;





}

ul.subTabs li a:link, ul.subTabs li a:visited { color: #000;}

ul.subTabs li a:hover
{

background-color:#f2daf7;

}

.activeSubTab
{

}
ul.tablist li a.activeSubTab:hover
{
border-bottom-color: #ddd;
color: #000000;
}
ul.subpanelTablist li a.activeSubTab:hover
{

color: #000000;
}

	.searchField {
	border-color: #aa91c1;
	background-color: #f6fafd;
	}
	.search {
		color: #444444;
		}
	.searchButton {
		background-color: #fafafa;
		}
		.searchButton:focus{
		background-color: #fafafa;}
	.date {
		color: #444444;
		background-color: #fff;
		border-bottom-color: #bbbbbb;
		}

	.lastView {
		color: #444;
		border-top-color:#6b0387;
		border-bottom-color: #c2b0d2;
		background-color: #f6f6f6;
		}

	a.lastViewLink:link, a.lastViewLink:visited, .lastViewLink {
		color: #444444;

		}
	a.lastViewLink:hover {

		color: #000000;
		}


	.leftColumnModuleS3 input, .leftColumnModuleS3 select {
	}
	td.leftColumnModuleS3 .button {
	}
	td.leftColumnModuleS3 .dataLabel {
	}

	td.leftColumnModuleS3 .dataField {
	}
	.leftColumnModuleS3 #jscal_trigger {
	}
	a.leftColumnModuleS3Link:link, a.leftColumnModuleS3Link:visited {
		color: #666666;
		}
	a.leftColumnModuleS3Link:hover {
		color: #444444;
		}

	/*right main content (suffix S1 stands for Style 1) */
	.listView {
	border-color: #c2b0d2;
	}




	table.listview th a:link, table.listview th a:visited, a.listViewThLinkS1:link, a.listViewThLinkS1:visited {
		/* this definition should be exactly the same
			as a.listViewThLinkS1:link, a.listViewThLinkS1:visited */
		color: #444;
	}

	table.listview th a:hover, a.listViewThLinkS1:hover {
		/* this definition should be exactly the same
			as a.listViewThLinkS1:hover */
		color: #000000;
	}

	a.listViewTdLinkS1:link, a.listViewTdLinkS1:visited {
	color: #6b0387;

		}
	a.listViewTdLinkS1:hover {
		}
	a.listViewTdToolsS1:link, a.listViewTdToolsS1:visited {
		}
	a.listViewTdToolsS1:hover {
		}
	.evenListRowS1, .oddListRowS1 {
		color: #000000;
	}
	.listViewHRS1 {
		background-color: #d9cee3;
	}
	.pageNumbers {
		color: #444444;
	}

	a.listViewPaginationLinkS1:link, a.listViewPaginationLinkS1:visited {
		color: #444444;
		}
	a.listViewPaginationLinkS1:hover {
		color: #000000;
		}
	a.listViewCheckLink:link, a.listViewCheckLink:visited {
		}
	a.listViewCheckLink:hover {
		}

	a.utilsLink:link, a.utilsLink:visited, a.NextPrevLink:link, a.NextPrevLink:visited {
		color: #6b0387;
		}
	a.utilsLink:hover {
		}
	/* charting styles */
	.chartBox {
		background-color: #ffffff;
		border-color: #c2b0d2;
	}

	a.chartToolsLink:link, a.chartToolsLink:visited {
		color: #444444;
		}
	a.chartToolsLink:hover {
		color: #000000;
		}

	table.chartForm {
		background-color: #efefef;
		border-color: #c2b0d2;
	}

	table.chartForm td {
		background-color: #efefef;
	}

	/* main tab forms */
	.leftColumn, .hideShow {
		background-color:#fae0eb/*�󱳾���ɫ*/
		
		
		}
	#main {
		border-color: #666;
		background-color:#fee7f1;/*�ұ�����ɫ*/
		}
	.tabForm {
		border-color:#ba8a9a;
		
		color: #000000;
		background-color: #ffeae9;

	}
	.subpanelTabForm {
		border-color: #c2b0d2;
		color: #000000;
		background-color: #ffffff;

	}
	.subpanelTabForm .listView {
}
	h4.dataLabel {
		color: #444444;
	}
	table.tabForm td {

	}
	h5.dataLabel {
		color: #444444;
	}
	td.dataLabel{
	}
	.dataLabel {
	}
	.dataField {
	}

	.tabFormAddDel {
	}

	a.tabFormAdvLink:link, a.tabFormAdvLink:visited {
		color: #444444;
		}
	a.tabFormAdvLink:hover {
		color: #000000;
		}

	/* main tab panel views */
	.tabDetailView {
		border-top-color: #ba8a9a;
		border-bottom-color: #c2b0d2;
		
	}


	.tabDetailViewDL {
		color: #000000;
		background-color:#ffe8eb;
		border-color: #ba8a9a;
	}

	h4.tabDetailViewDL {
		color: #444444;
	}

	table.tabDetailView th.tabDetailViewDL {
		border-color: #d9cee3;}
	.tabDetailViewDF {
		color: #444444;
		border-color: #d9cee3;
		background-color: #fff;
	}

	a.tabDetailViewDFLink:link, a.tabDetailViewDFLink:visited {
		color: #6b0387;
		}
	a.tabDetailViewDFLink:hover {
		color: #6b0387;
		}

	.tabDetailView2 {
		border-color: #ba8a9a;
		background-color: #ffe8eb;
	}
	.tabDetailViewDL2 {
		color: #000000;
		background-color: #fafafa;
	}
	.tabDetailViewDF2 {
		color: #444444;
		background-color: #ffffff;
		border-left-color: #dfdfdf;
	}
	a.tabDetailViewDL2Link:link, a.tabDetailViewDL2Link:visited {
		color: #444444;
		}
	a.tabDetailViewDL2Link:hover {
		color: #000000;
		}
	/* calendar styles */
	.monthBox {
	}
	.monthCalBody {
	background-color: #c2b0d2;
	}
	.monthFooterPrev, .monthFooterNext {
	border-top-color: #c2b0d2;
	border-bottom-color: #c2b0d2;
	background-color: #ffffff;
	}

	a.monthCalBodyWeekLink:link, a.monthCalBodyWeekLink:visited, a.monthCalBodyWeekDayDateLink:link, a.monthCalBodyWeekDayDateLink:visited  {
	color: #6b0387;
	}
	a.NextPrevLink:hover, a.monthCalBodyWeekLink:hover, a.monthCalBodyWeekDayDateLink:hover, a.monthCalBodyWeekEndDateLink:hover,
.monthCalBodyTodayWeekDay a.monthCalBodyWeekDayDateLink:link, .monthCalBodyTodayWeekDay a.monthCalBodyWeekDayDateLink:visited,
.monthCalBodyTodayWeekEnd a.monthCalBodyWeekDayDateLink:link, .monthCalBodyTodayWeekEnd a.monthCalBodyWeekDayDateLink:visited {
	color: #6b0387;

	}
	.monthCalBodyTHWeek, .monthCalBodyWeek {
	background-color: #ebebeb;
	color: #444444;
	border-color: #c2b0d2;
	}
	.monthCalBodyTHDay {
	background-color: #fafafa;
	color: #444444;
	border-color: #c2b0d2;
	}
	.monthCalBodyTodayWeekDay, .monthCalBodyTodayWeekEnd {
	border-color: #c2b0d2;
	background-color: #ffffff;
	color: #444444;
	}
	.monthCalBodyWeekDay {
	background-color: #fff;
	color: #444444;
	}
	.monthCalBodyWeekEnd {
	background-color: #f6f6f6;
	color: #444444;
	}
	a.monthCalBodyDayItemLink:link, a.monthCalBodyDayItemLink:visited {
	}
	a.monthCalBodyDayItemLink:hover {
	}
	.monthCalBodyDayItem {
	background-color: #ffffff;
	border-top-color: #c2b0d2;
	border-bottom-color: #ddd;
	}
	.monthCalBodyDayIconTd {
	}
	.monthCalBodyDayItemTd {
	}
	.monthViewDayHeight {
	}
	.yearViewDayHeight {
	}


	.dailyCalBodyItems {
	background-color: #fff;
	color: #444444;
	}

	a.weekCalBodyDayLink:link, a.weekCalBodyDayLink:visited {
	color: #000000;
	}
	a.weekCalBodyDayLink:hover {
	}
	.yearCalBody {
	border-top: 2px solid #fff;
	background-color: #fff;
	}
	.yearCalBodyMonth {
	background-color: #c2b0d2;
	border-top: 2px solid #906fae;
	border-bottom: 2px solid #fff;
	}
.yearCalBody .monthHeader {border: none;}
	.yearCalBodyMonth th {

	}
	.yearCalBodyMonth #daily_cal_table {
	border-top: #c2b0d2;
	}
	.yearCalBodyMonth #daily_cal_table .monthCalBodyTHDay {
	border-color: #c2b0d2;
	}

	a.yearCalBodyMonthLink:link, a.yearCalBodyMonthLink:visited {
	color: #000000;
	}
	h5.calSharedUser {
	color: #444444;
	}

	/* misc font displays */


	.copyRight {
	}
	a.copyRightLink:link, a.copyRightLink:visited {
	}
	a.copyRightLink:hover {
	}

	.tm {
	}

	.footer, .underFooter {

	}
	a.footerLink:link, a.footerLink:visited {

	}
	a.footerLink:hover {
	color: #000000;
	}

	.footerHR {
	}
	.aboveFooter {
	}
/* Scheduler Styles */




/* dynamic tab styles */
ul.tablist, ul.subpanelTablist
{
border-bottom-color: #c2b0d2;
}

ul.tablist li
{
}

ul.tablist li a:hover, ul.subpanelTablist li a:hover
{
color: #000000;
background: #fafafa;
border-color: #c2b0d2;
}
ul.tablist li a, ul.subpanelTablist li a
{
background-color: #fff;
border-color: #dddddd;
}

ul.tablist li a:link, ul.tablist li a:visited, ul.subpanelTablist li a:link, ul.subpanelTablist li a:visited { color: #444444;}

ul.tablist li a:hover, ul.subpanelTablist li a:hover
{
color: #000000;
background: #fafafa;
}

ul.tablist li a.current
{
background: #f6f6f6;
border-bottom-color: #f6f6f6;
border-right-color: #c2b0d2;
border-top-color: #c2b0d2;
}
ul.tablist li a.current:hover
{
border-bottom-color: #f6f6f6;
color: #000000;
border-bottom-color: #f6f6f6;
border-right-color: #c2b0d2;
border-top-color: #c2b0d2;
}


ul.subpanelTablist li a.current, ul.subpanelTablist li a.current:hover
{
color: #4f4f4f;
border-right-color: #c2b0d2;
border-top-color: #c2b0d2;
border-bottom-color: #ffffff;
}

/**Reveted this class  for gantt chart**/
.sqsSelectedSmartInputItem {
background-color:#DEEFFF;
}
/**End**/

.olFontClass { }
.olFontClass A { }
.olCapFontClass {
}
.olCapFontClass A {
}
.olFgClass td {
}
.olCgClass td {
	border-bottom-color: #c2b0d2;
}
.olCgClass {
}
.olBgClass {
	background-color: #c2b0d2;
}
.olCloseFontClass {
}

/* acl role colors */


/* help styles */


/* sitemap */
#sitemap .tabForm {
border-color: #906fae;
}
/*
 * Ext JS Library 2.0
 * Copyright(c) 2006-2007, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */
.x-sqs-list{border:1px solid #C2B0D2;background:#fdfdfd;}
.x-sqs-list .x-sqs-selected{border:1px dotted #F6F6F6!important;background:#C2B0D2;}
/*
* END Ext JS Library 2.0
*/
/* ����ͼƬ */

#user_dashlet{width:100%;  height:100%; border: 0px solid #66FF00;}
#defcal_section{width:100%;  height:100%; border: 0px solid #66FF00;}

#slideshow {
	
	width:100%;
	height:30px;
	position:relative;
}
#slideshow #slidesContainer {
  margin-left:65px;top:7;
  width:430px;
  height:30px;
  overflow:auto; /* allow scrollbar */
  position:relative;
  padding-left:2px;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:100%; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:30px;
}

/** 
 * Slideshow controls style rules.
 */
.control {
	
  display:block;
  width:25px;
 
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  width:25;
  height:25;
  top:4;
  left:15px;
  background:url(images/left.png);
}
#rightControl {
	width:25;
	height:25;
	top:4;
  left:460px;
  
  background:url(images/right.png);
}

/** 
 * Style rules for Demo page
 */

a {
  color: #000;
  /*font-weight:bold;*/
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

#pageContainer {
  
  width:100%-20;
	*width:100%;
 /* background-color:#8FE1EF;*/
  
}
#pageContainer h1 {
  display:block;
  width:960px;
  height:114px;
  background:transparent url(img/bg_pagecontainer_h1.jpg) no-repeat top left;
  text-indent: -10000px;
}
.slide h2, .slide p {
  margin:15px;
}
.slide h2 {
  font:italic 24px Georgia, "Times New Roman", Times, serif;
  color:#ccc;
  letter-spacing:-1px;
}
.slide img {
  float:right;
  margin:0 15px;
}
#footer {
  height:100px;
}
#footer p {
  margin:30px auto 0 auto;
  display:block;
  width:560px;
  height:40px;
}

#head{border:1px solid #ba8a9a; }
#down_1{border:1px solid #ba8a9a; }
#down_2{border:1px solid #ba8a9a; }
#head_2_1{border-color:#ba8a9a;}
.border_text{border: 0px;background:#ffeae9;}
.invoiceDetail_main{width: 160px; height: 220px; overflow-y: scroll; border: 1px solid #ba8a9a;}
.invoiceTab2Dispute{width:100%; height:80%; overflow-x: auto;margin-right:6px; border: 1px solid #ba8a9a;}
#leftControl_dispute {
  top:0;
  left:-5;
  background:transparent url(images/right.png) no-repeat 0 0;
}
#rightControl_dispute {
  top:0;
  left:-5;
  background:transparent url(images/left.png) no-repeat 0 0;
}
/*dashboard__color*/

.dashboard_head{background:#f1cfdb;}
